{% extends 'admin/sidebar.html' %}

{% block title %}Users{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='database.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
{% endblock %}

{% block dashboard_header %}Users{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <div class="user-table-container">
            <table class="user-table table">
                <thead class="user-table-header table-header">
                    <tr>
                        <th><input type="checkbox" name="select-all" 
                            onclick="toggleSelectAll(this)"/></th>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>User Roles</th>
                        <th>Date Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for user in users %}
                    <tr>
                        <td><input type="checkbox" name="select-checkbox" class="select-checkbox"/></td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% set roles = user.roles.split(',') if user.roles else [] %}
                    
                            {% for role in roles[:3] %}
                                <span class="role-label {{ role | lower }}">{{ role }}</span>
                            {% endfor %}
                        </td>
                        <td class="created-by column">{{ user.created_at }}</td>
                        <td class="action-buttons">
                            <button class="edit-button icon" onclick="openEditModal('{{ user.id }}')">
                                <i class="bx bxs-edit-alt"></i>
                            </button>
                            <button class="delete-button icon">
                                <i class="bx bxs-trash-alt"></i>
                            </button>
                        </td>              
                    </tr>
                {% endfor %}
            </table>
            <div class="pagination" data-current-page="{{ current_page }}" data-total-pages="{{ total_pages }}">
                <button class="pagination-button previous" onclick="changePage('prev')">
                    <i class='bx bx-left-arrow-alt' ></i>
                    <span>Previous</span>
                </button>
                
                <div class="pagination-numbers">
                    {% for i in range(1, total_pages + 1) %}
                        <button class="pagination-number{% if i == current_page %} active{% endif %}" onclick="changePage('{{ i }}')">
                            {{ i }}
                        </button>
                    {% endfor %}
                </div>
                
                <button class="pagination-button next" onclick="changePage('next')">
                    <span>Next</span>
                    <i class='bx bx-right-arrow-alt' ></i>
                </button>
            </div>                  
        </div>
    </div>

    <div class="bg-modal">
        <div class="modal-content">
            <div class="close-modal-button" onclick="hideAllModalContent()">
                <i class='bx bx-x' ></i>
            </div>

            <h2 class="modal-header">Edit User</h2>
            
            <div class="modal-edit-content">
                <form id="edit-user-form" class="edit-user-form">
                    <div class="form-group quarter-width">
                        <label for="user-id">ID</label>
                        <input type="text" id="user-id" name="user-id" readonly disabled>
                    </div>
                    <div class="form-row">
                        <div class="form-group half-width">
                            <label for="first-name">First Name</label>
                            <input type="text" id="first-name" name="first-name" data-original="">
                        </div>
                        <div class="form-group half-width">
                            <label for="last-name">Last Name</label>
                            <input type="text" id="last-name" name="last-name" data-original="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email" data-original="">
                    </div>
                    <div class="form-group">
                        <label for="roles">User Roles</label>
                        <input type="text" id="roles" name="roles">
                    </div>
                    <div class="form-group">
                        <label for="created-at">Date Created</label>
                        <input type="text" id="created-at" name="created-at" readonly disabled>
                    </div>
                    <div class="modal-buttons">
                        <button type="submit" class="submit-button">Save</button>
                        <button type="button" class="cancel-button" onclick="hideAllModalContent()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block js %}
        <script src="{{ url_for('static', filename='scripts/database.js') }}"></script>
    {% endblock %}

{% endblock %}